<div class="jumbotron jumbotron-fluid jumbotron-image" style="background-image: url(/images/gamepadjumbo.png);">
    <div class="container">
      <h1 class="display-4">Gamy News</h1>
      <p class="lead">Your source of info for gaming news.</p>
    </div>
</div>