<!DOCTYPE html>
<html lang="en">
<!-- head include-->
<%- include('./partials/head.ejs');  %>

<body class="flex flex-col min-h-screen ">
  <!-- nav include-->
  <%- include('./partials/nav.ejs');  %>
    <!-- jumbotron include -->
    <%- include('./partials/jumbotron.ejs');  %>
  <h1>404</h1>
  <p>Oops, something somewhere went wrong.</p>
  <img src="/images/whyragecomic.png" alt="why rage comic meme" id="rage">
  <p>Why you no work ?</p>

  <!-- footer include-->
  <%- include('./partials/footer.ejs');  %>
</body>

</html>