<!DOCTYPE html>
<html lang="en">
<!-- head include-->
<%- include('./partials/head.ejs');  %>

<body class="flex flex-col min-h-screen ">
  <!-- nav include-->
  <%- include('./partials/nav.ejs');  %>

  <h1>404</h1>
  <p>Oops, something went wrong.</p>
  <img src="../public/images/whyragecomic.png" alt="why rage comic meme">

  <!-- footer include-->
  <%- include('./partials/footer.ejs');  %>
</body>

</html>