<!DOCTYPE html>
<html lang="en">
<!-- head include-->
<%- include('./partials/head.ejs');  %>

<body class="flex flex-col min-h-screen ">
    <!-- nav include-->
    <%- include('./partials/nav.ejs');  %>
<h1>404</h1>
<p>Oops, something went wrong.</p>
  <!-- footer include-->
    <%- include('./partials/footer.ejs');  %>
</body>

</html>