<!DOCTYPE html>
<html lang="en">
<!-- head include-->
<%- include('./partials/head.ejs');  %>

<body class="">
    <!-- nav include-->
    <%- include('./partials/nav.ejs');  %>
    <!-- jumbotron include -->
    <%- include('./partials/jumbotron.ejs');  %>
<h1>Gamynews</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius praesentium nisi repellat doloremque excepturi ducimus nostrum? Architecto amet totam expedita incidunt aliquid nemo molestiae minima a dolorem animi, reiciendis quidem!</p>
    <!-- footer include-->
    <%- include('./partials/footer.ejs');  %>
</body>

</html>